@import 'fonts-include/montserrat';
@import 'fonts-include/_pt-sans';
@import 'fonts-include/_pt-root';
@import 'font-sizes.scss';
@import 'logo/logo.scss';


@import 'header/header.scss';
@import 'header/h-nav/h-nav.scss';
@import 'header/h-menu/h-menu.scss';
@import 'header/h-contacts/h-contacts.scss';
@import 'header/nav-acc/nav-acc.scss';
@import 'header/mob-menu/mob-menu.scss';
@import 'header/drop-menu/drop-menu.scss';


@import 'footer/footer.scss';
@import 'footer/f-menu/f-menu.scss';
@import 'footer/social/social.scss';

@import 'quick-dev/quick-dev.scss';

@import 'buttons/half-round.scss';
@import 'buttons/round.scss';

@import 'subscribe/subscribe.scss';


@import 'forms/checkbox.scss';
@import 'forms/select.scss';

@import 'modals/modals.scss';

@import 'breadcrumbs/breadcrumbs.scss';

@import 'pagination/pagination.scss';

@import 'news-slider/news-slider.scss';

@import 'filters/filter-buttons.scss';

@import 'products/products.scss';


@import 'pages/blog/blog.scss';
@import 'pages/thank-you/thank-you.scss';
@import 'pages/catalog/catalog.scss';
@import 'pages/promo/promo.scss';
@import 'pages/contacts/contacts.scss';
@import 'pages/main/main-page.scss';


@import 'pages/delivery/delivery.scss';
@import 'pages/a-company/a-company.scss';
@import 'pages/cart/cart.scss';
@import 'pages/cabinet/cabinet.scss';
@import 'pages/comprasion/comprasion.scss';
@import 'pages/trade-in/trade-in.scss';

@import 'pages/brand-page/brand-page.scss';

@import 'pages/card-product/card-product.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    display: flex;
    justify-content: center;
}
.circle-anim{
    position: absolute;
}
body{
    font-family: $font-family;
    color: #0D1014;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    //max-width: 1920px;
    overflow-x: hidden;
    //background-color: #0D1014;
}
address{
    font-style: normal;
}
.white{
    color: #fff;
}
.black{
    color: #1E242E;
}

.green{
    color: #C5FA2D;
}
.b-blue{
    color: #457EAF;
}
.content{
    
  flex-grow: 1;

  display: flex;
  flex-direction: column;

}

.content__inner{
    flex-grow: 1;
    padding-bottom: 120px;

    
}
.content__inner_blue-page{
    background-color: #E9F1F9;
    padding-bottom: 0px;
}


.hidden-o{
    opacity: 0;
    transition: .3s;
}

.flex-row-container{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;

    @media ( max-width: 1900px) {
        padding-left: calc(6vw - 14px);
        padding-right: calc(6vw - 14px);
    }
    
    @media ( max-width: 1234px ){
        padding-left: 60px;
        padding-right: 60px;
    }
    @media ( max-width: 992px ){
        padding-left: 20px;
        padding-right: 20px;
    }

    @media ( min-width: 2000px ){
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

.page-content-wrap{
    @media (max-width: 1320px){
        flex-direction: column;
    }
}
.page-content-block{
    display: flex;
    
    width: 100%;
    
    flex-wrap: wrap;

    @media (max-width: 1320px){
        padding-left: 0px;
        margin-left: 0 -4px;
    }


    @media (max-width: 992px){
        flex-wrap: wrap;
    }
}

.page-title-block{
    margin-right: 40px;
    width: 33.33%;
}

.page-title-block_m{
    @media (max-width: 768px){
        margin-right: 0px;
        width: 100%;
    }
}

.fav-title-block{
    @media (min-width: 1921px){
        max-width: 540px;
    }
}

.empty-33{
    margin-right: 40px;
    width: 33.33%;
}

.column-md{
    @media ( max-width: 1024px ){
        flex-direction: column;
    }
}

.column-1260{
    @media ( max-width: 1260px ){
        flex-direction: column;
    }
}

.l-grey{
    color: #8E99AB;
}

.col-28p{
    width: 28%;
}

.col-30p{
    width: 30%;
}

.col-32p{
    width: 32%;
}

.col-40p{
    width: 40%;
}

.col-5{
    width: 41.6%;
}

.col-3{
    width: 25%;
}


.col-4{
    width: 33.33%;
}

.col-9{
    width: 75%;
}

.col-6{
    width: 50%;
}
.col-8{
    width: 66.66%;
}

.col-md-4{
    @media (max-width: 1024px){
        width: 33.33%;
    }
}

.col-md-12{
    @media (max-width: 1024px){
        width: 100%;
    }
}
.col-ssm-12{
    @media(max-width: 992px){
        width: 100%;
    }
}

.col-sm-12{
    @media (max-width: 768px){
        width: 100%;
    }
}

.text-block{
    padding: 25px 0;

    @media (max-width: 1024px){
        padding: 20px 0;
    }
    @media (max-width: 768px){
        padding: 15px 0;
    }
}

.bonus-info{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: #E5EFFE;
    color: #457EAF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: right;
    padding: 0 23px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;

    @media (max-width: 1024px){
        width: 150px;
        height: 75px;
        padding: 0 14px;
        font-size: 14px;
        line-height: 24px;
    }
}

.bonus-info__qty{
    color: #000;
}

.quote{
    padding-left: 50px;
    position: relative;
    
    
    &::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 5px;
        left: 0;
        top: 0;
        background-color: #D8D8D8;
    }



    @media (max-width: 768px){
        padding-left: 20px;
        &::before{
            width: 2px;
        }
    }
}

.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}

.mt-20{
    margin-top: 20px;
}

.mt-25{
    margin-top: 25px;
}

.mt-30{
    margin-top: 30px;
}

.mt-35{
    margin-top: 35px;
}
.mt-md-15{
    @media (max-width: 1024px){
        margin-top: 15px;
    }    
}
.mt-sm-35{
    @media (max-width: 768px){
        margin-top: 35px;
    }
}

.mt-40{
    margin-top: 40px;
}

.mt-45{
    margin-top: 45px;
}

.mt-50{
    margin-top: 50px;
}


.mt-60{
    margin-top: 60px;
}


.mt-70{
    margin-top: 70px;
}

.mt-75{
    margin-top: 75px;
}
.mt-100{
    margin-top: 100px;
}

.mt-110{
    margin-top: 110px;
}


.mt-150{
    margin-top: 150px;
}


.mt-md-90{
    @media(max-width: 1024px){
        margin-top: 90px;
    }
    
}

.mt-md-60{
    @media(max-width: 1024px){
        margin-top: 60px;
    }
    
}

.mt-sm-60{
    @media(max-width:768px){
        margin-top: 60px;
    }
}
.mt-md-50{
    @media (max-width: 1024px){
        margin-top: 50px;
    }
}

.mt-md-45{
    @media (max-width: 1024px){
        margin-top: 45px;
    }
}
.mt-md-40{
    @media (max-width: 1024px){
        margin-top: 40px;
    }
}
.mt-md-35{
    @media (max-width: 1024px){
        margin-top: 35px;
    }
}


.mt-md-30{
    @media (max-width: 1024px){
        margin-top: 30px;
    }
}
.mt-md-20{
    @media (max-width: 1024px){
        margin-top: 20px;
    }
}
.c-link{
    text-decoration: none;
}


.mt-md-10{

    @media( max-width: 1024px){
        margin-top: 10px;
    }
    
}

.mt-md-0{
    @media (max-width: 1024px){
        margin-top: 0px;
    }
}

.mt-sm-0{
    @media (max-width: 768px){
        margin-top: 0px;
    }
    
}
.mt-sm-10{
    @media (max-width: 768px){
        margin-top: 10px;
    }
}
.mt-sm-20{
    @media (max-width: 768px){
        margin-top: 20px;
    }
}

.mt-sm-40{
    @media (max-width: 768px){
        margin-top: 40px;
    }
}

.mt-sm-50{
    @media (max-width: 768px){
        margin-top: 50px;
    }
}

.mt-ssm-15{
    @media (max-width: 992px){
        margin-top: 15px;
    }
}



.mt-sm-15{
    @media (max-width: 768px){
        margin-top: 15px;
    }
}


.mt-sm-30{
    @media (max-width: 768px){
        margin-top: 30px;
    }
}


.mr-20{
    margin-right: 20px;
}

.mb-5{
    margin-bottom: 5px;
}

.mb-10{
    margin-bottom: 10px;
}


.mb-30{
    margin-bottom: 30px;
}

.mb-35{
    margin-bottom: 35px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-45{
    margin-bottom: 45px;
}

.mb-70{
    margin-bottom: 70px;
}

.mb-sm-25{
    @media (max-width: 768px){
        margin-bottom: 25px;
    }
}
.mb-sm-20{
    @media (max-width: 768px){
        margin-bottom: 20px;
    }
}
.mb-sm-15{
    @media (max-width: 768px){
        margin-bottom: 15px;
    }
}

.mb-sm-10{
    @media (max-width: 768px){
        margin-bottom: 10px;
    }
}
.mb-ssm-25{
    @media(max-width: 992px){
        margin-bottom: 25px;
    }
}
.mb-sm-40{
    @media (max-width: 768px){
        margin-bottom: 40px;
    }
}
.ovh{
    overflow: hidden;
}


.sm-hidden{
    @media (max-width: 768px){
        display: none;
    }
}
.sm-visible{
    display: none;
    @media (max-width: 768px){
        display: block;
    }
}

.t-center{
    text-align: center;
}
.light-grey{
    color: #8E99AB;
}

.content__inner_inx{
    padding-bottom: 0;
}