@import 'fonts-include/montserrat';
@import 'font-sizes.scss';
@import 'logo/logo.scss';


@import 'header/header.scss';
@import 'header/h-nav/h-nav.scss';
@import 'header/h-menu/h-menu.scss';
@import 'header/h-contacts/h-contacts.scss';
@import 'header/nav-acc/nav-acc.scss';
@import 'header/mob-menu/mob-menu.scss';
@import 'header/drop-menu/drop-menu.scss';


@import 'footer/footer.scss';
@import 'footer/f-menu/f-menu.scss';
@import 'footer/social/social.scss';

@import 'quick-dev/quick-dev.scss';

@import 'buttons/half-round.scss';

@import 'subscribe/subscribe.scss';


@import 'forms/checkbox.scss';

@import 'modals/modals.scss';

@import 'breadcrumbs/breadcrumbs.scss';

@import 'pagination/pagination.scss';

@import 'pages/blog/blog.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    display: flex;
    justify-content: center;
}

body{
    font-family: $font-family;
    color: #0D1014;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 1920px;

    //background-color: #0D1014;
}

.white{
    color: #fff;
}
.black{
    color: #1E242E;
}

.green{
    color: #C5FA2D;
}

.content{
    
  flex-grow: 1;

  display: flex;
  flex-direction: column;

}

.content__inner{
    flex-grow: 1;
    padding-bottom: 120px;

    
}


.flex-row-container{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;

    @media ( max-width: 1900px) {
        padding-left: calc(6vw - 14px);
        padding-right: calc(6vw - 14px);
    }
    
    @media ( max-width: 1234px ){
        padding-left: 60px;
        padding-right: 60px;
    }
    @media ( max-width: 992px ){
        padding-left: 20px;
        padding-right: 20px;
    }
}


.column-md{
    @media ( max-width: 1024px ){
        flex-direction: column;
    }
}

.col-3{
    width: 25%;
}


.col-4{
    width: 33.33%;
}

.col-9{
    width: 75%;
}


.col-8{
    width: 66.66%;
}

.col-md-4{
    @media (max-width: 1024px){
        width: 33.33%;
    }
}

.col-md-12{
    @media (max-width: 1024px){
        width: 100%;
    }
}