@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "../fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}


/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
 

    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: $slick-font-family;
        font-size: 20px;
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    
    [dir="rtl"] & {
        
    
    }
    &:before {
        content: "";
        [dir="rtl"] & {
            content: "";
        }
    }
}

.slick-next {
 
    [dir="rtl"] & {
        
       
    }
    &:before {
        content: "";
        [dir="rtl"] & {
            content: "";
        }
    }
}

/* Dots */

.slick-dotted.slick-slider {
    
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}


/*Классы для вставляемых svg-стрелок*/
.black-arrow, .white-arrow{
    max-width: 100%;

    transition: .3s;
    &:hover{
        path{
            stroke: #ACD637;
        }
    }
        
        
    
}


.slick-slide{
    outline: none !important;
    border: none !important;
}

.slick-slide:active, .slick-slide:focus {
    outline: none !important;
    border: none !important;
} 
.slick-slider{
    outline: none !important;
}
.b-filter-container{
    .slick-slide{
        display: flex;
    }
}

.news-photo-slider{
    .slick-prev{
        width: 58px;
        height: 14px;
        background-image: none;
        
        top: initial;
        bottom: 25px;
        z-index: 55;
        left: initial;
        right: 120px;

        

        @media (max-width: 1024px){
            width: 42px;
            height: 10px;
            right: 80px;
        }
        @media (max-width: 768px){
            right: 60px;
        }
    }

    .slick-next{
        width: 58px;
        height: 14px;
        background-image: none;
        
        top: initial;
        z-index: 55;
        bottom: 25px;
        right: 20px;

        @media (max-width: 1024px){
            width: 42px;
            height: 10px;
            right: 0px;
        }
    }

    .slick-disabled{
        opacity: .3;
    }
}

.news-slider{
    .slick-prev{
        width: 65px;
        height: 14px;
        background-image: none;
    
        z-index: 55;
        left: 17.5px;
        right: initial;
        top: -50px;
        bottom: initial;
        

        @media (max-width: 1024px){
            top: -38px;
            left: -15px;
        }
    }

    .slick-next{
        width: 65px;
        height: 14px;
        background-image: none;
        top: -50px;
        left: 115px;
        z-index: 55;
        bottom: initial;
        right: initial;

        @media (max-width: 1024px){
            top: -38px;
            left: 65px;
        }
    }

    .slick-disabled{
        opacity: .3;
    }   

    .slick-list{
        @media (max-width: 1024px){
            margin: 0 -15px;
        }
    }
    .slick-slide{
        @media (max-width: 1024px){
            margin: 0 15px;
        }
    }
}



.company-catalog-col__inner{
    .slick-prev{
        width: 65px;
        height: 14px;
        background-image: none;
        
        
        z-index: 55;
        left: 17.5px;
        right: initial;
        top: -50px;
        bottom: initial;
        

        @media (max-width: 1024px){
            top: -35px;
            left: 0px;
        }

        @media (max-width: 768px){
            width: 50px;
            height: 12px;
            top: -30px;
        }
    }

    .slick-next{
        width: 65px;
        height: 14px;
        background-image: none;
        
        top: -50px;
        left: 115px;
        z-index: 55;
        bottom: initial;
        right: initial;

        @media (max-width: 1024px){
            top: -38px;
            left: 80px;
        }

        @media (max-width: 768px){
            width: 50px;
            height: 12px;
            top: -30px;
        }
    }

    .slick-disabled{
        opacity: .3;
    }   

    .slick-current{
        .catalog-card-fs{
            background-color: #fff;
            box-shadow: 0px 0px 18px #EBF2FA, 0px 49px 32px -26px rgba(145, 178, 241, 0.37);
    
            
        }
        .hidden-o{
            opacity: 1;
        }
    }
}



.h-slider{
    
    .slick-dots{
        display: flex;
        flex-direction: column;
        right: -84%;
        left: initial;
        top: 45%;

        @media (max-width: 1200px){
            top: 37%;
        }
        
        @media (max-width: 992px){
            flex-direction: row;
            right: -66%;
            bottom: 0;
            top: initial;
            left: initial;
        
        }

        @media (max-width: 900px){
            right: -60%;
        }

        @media (max-width: 850px){
            bottom: 10px;
        }

        @media (max-width: 768px){
            bottom: -10px;
            right: -68%;
        }
        @media (max-width: 650px){
            right: -64%;
        }
        @media (max-width: 600px){
            right: -60%;
        }

        @media (max-width: 360px){
            right: -55%;
        }

        li{
            width: 24px;
            height: 24px;
            margin-bottom: 10px;
        }

        li button{
            width: 24px;
            height: 24px;
        }

        li button::before{
            color: #fff;
            width: 24px;
            height: 24px;
            opacity: 1;
        }

        li.slick-active{
            button::before{
                
                background-image: url('../img/buttons/dotted.png');
                background-size: 100% 100%;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 1;
            }
        }
    }

    .slick-prev{
        width: 65px;
        height: 14px;
        background-image: url('../img/buttons/w-arrow.svg');
        background-size: 100% 100%;
        
        z-index: 55;
        left: -2vw;
        right: initial;
        
        
        bottom: initial;
        bottom: 3vw;
        transform: rotate(180deg) ;

        @media (max-width: 1300px){
            bottom: 2vw;
        }
        @media (max-width: 1250px){
            bottom: 1vw;
        }

        @media (max-width: 1250px){
            bottom: 3vw;
        }
        @media (max-width: 1100px){
            bottom: 1.5vw;
        }
        @media (max-width: 1024px){
            bottom: .5vw;
        }

        @media (max-width: 992px){
            left: 4vw;
            bottom: 2.5vw;
        }
        @media (max-width: 950px){
            left: 2vw;
        }
        @media (max-width: 930px){
            left: 0vw;
        }
        @media (max-width: 880px){
            left: -2vw;
        }

        @media (max-width: 830px){
            left: -5vw;
            bottom: 4.5vw;
        }

        @media (max-width: 780px){
            left: -8vw;
        }

        @media (max-width: 768px){
            left: 60px;
            bottom: 0;
        }

        @media (max-width: 700px){
            bottom: 10px;
        }

        @media (max-width: 560px){
            left: 40px;
            bottom: 20px;
        }

        @media (max-width: 560px){
            bottom: 30px;
        }

        @media (max-width: 400px){
            left: 0px;
            bottom: 10px;
        
        }
    }

    .slick-next{
        width: 65px;
        height: 14px;
        background-image: url('../img/buttons/w-arrow.svg');
        background-size: 100% 100%;
        
        left: -2vw;
        z-index: 55;
        bottom: initial;
        right: initial;
        top: 9.5vw;
        @media (max-width: 1200px){
            top: 6.5vw;
        }

        @media (max-width: 992px){
            left: 4vw;
        }
        @media (max-width: 950px){
            left: 2vw;
        }
        @media (max-width: 930px){
            left: 0vw;
        }
        @media (max-width: 880px){
            left: -2vw;
        }

        @media (max-width: 830px){
            left: -5vw;
        }

        @media (max-width: 780px){
            left: -8vw;
        }
        @media (max-width: 768px){
            left: 60px;
            top: 80px;
        }
        @media (max-width: 650px){
            top: 70px;
        }

        @media (max-width: 560px){
            left: 40px;
            top: 60px;
        }

        @media (max-width: 400px){
            left: 0px;
            top: 30px;
        
        }
    }

    .slick-disabled{
        opacity: .3;
    }   

    .slick-list{
        @media (max-width: 1024px){
            margin: 0 -15px;
        }
    }
    .slick-slide{
        @media (max-width: 1024px){
            margin: 0 15px;
        }

        @media (max-width: 768px){
            img{
                margin:  0 auto;
            }
            
        }
    }
}

.hh-slider{
    .slick-dots{
        display: flex;
        flex-direction: column;
        right: -12%;
        left: initial;

        bottom: initial;
        width: initial;
        top: 40%;

        @media (max-width: 1366px){
            top: 42%;
        }

        @media (max-width: 992px){
            flex-direction: row;
            top: 85%;
            right: -4%;
        }
        @media (max-width: 740px){
            //top: 38%;
        }

        

        li{
            width: 24px;
            height: 24px;
            margin-bottom: 10px;
        }

        li button{
            width: 24px;
            height: 24px;
        }

        li button::before{
            color: #fff;
            width: 24px;
            height: 24px;
            opacity: 1;

            @media (max-width: 1024px){
                font-size: 4px;
            }
        }

        li.slick-active{
            button::before{
                //background-image: url('../img/buttons/dotted.png');
                background-size: 100% 100%;
                //top: 50%;
                //transform: translateY(-50%);
                //display: flex;
                //justify-content: center;
                //align-items: center;
                opacity: 1;
            }
        }
    }

    .slick-prev{
        width: 65px;
        height: 14px;
        background-image: none;
        
        
        z-index: 55;
        
        right: initial;
        
        
        bottom: initial;
        bottom: 22.5%;
        left: -15%;
        

        @media (max-width: 1366px){
            bottom: 12%;
            left: -5%;
        }

        @media (max-width: 768px){
            bottom: 5%;
            width: 40px;
        }
    }

    .slick-next{
        width: 65px;
        height: 14px;
        background-image: none;
        
        
        
        z-index: 55;
        bottom: initial;
        right: initial;
        top: 22.5%;
        left: -15%;
        @media (max-width: 1366px){
            left: -5%;
        }
        @media (max-width: 768px){
            top: 15%;
            width: 40px;
        }
    }

    .slick-disabled{
        opacity: .3;
    }   

    .slick-list{
        @media (max-width: 1024px){
            margin: 0 -15px;
        }
    }
    .slick-slide{
        @media (max-width: 1024px){
            margin: 0 15px;
        }

        @media (max-width: 768px){
            img{
                margin:  0 auto;
            }
            
        }
    }
}


.ac-reviews-list{
    .slick-prev{
        width: 65px;
        height: 14px;
        background-image: none;
        
        
        z-index: 55;
        left: 17.5px;
        right: initial;
        top: -60px;
        bottom: initial;
        

        @media (max-width: 1024px){
            top: -38px;
            left: 0px;
        }

        @media (max-width: 768px){
            width: 50px;
            height: 12px;
            top: -30px;
        }
    }

    .slick-next{
        width: 65px;
        height: 14px;
        background-image: none;
        
        top: -60px;
        left: 115px;
        z-index: 55;
        bottom: initial;
        right: initial;

        @media (max-width: 1024px){
            top: -38px;
            left: 80px;
        }

        @media (max-width: 768px){
            width: 50px;
            height: 12px;
            top: -30px;
        }
    }

    .slick-disabled{
        opacity: .3;
    }   

    
}
.cp-set-right-col__inner{
    .slick-track{
       

        display: flex !important;
    }

    .slick-slide.slides{
        height:auto;
        flex:0 0 auto;
    }
    .c-product-wrap-p{
        height: auto;
    }
}

.c-p-i-products-list, .inx-novelty-list, .inx-hits-list{
    .c-p-i-product__wrap{
        &:hover{
            border-color: transparent;
            .c-sb-product{
                border-color: transparent;
                
            }
            
        }


    }
    .c-p-i-product__wrap{
        &:first-of-type{
            .c-product{
                border-radius: 11px 0 0 11px;
            }
        }

        &:last-of-type{
            .c-product{
                border-radius: 0 11px 11px 0;
            }
        }
    }
}


.c-p-i-products-list, .inx-novelty-list, .inx-hits-list{
    .slick-list{
        padding-bottom: 120px;

        @media (max-width: 768px){
            padding-bottom: 0px;
        }
    }
    




    .slick-prev{
        width: 65px;
        height: 14px;
        background-image: none;
        
        
        z-index: 55;
        left: 5px;
        right: initial;
        top: -45px;
        bottom: initial;
        

        @media (max-width: 1024px){
            top: -38px;
            left: 0px;
        }

        @media (max-width: 768px){
            width: 50px;
            height: 12px;
            top: -30px;
        }
    }

    .slick-next{
        width: 65px;
        height: 14px;
        background-image: none;
        
        top: -45px;
        left: 105px;
        z-index: 55;
        bottom: initial;
        right: initial;

        @media (max-width: 1024px){
            top: -38px;
            left: 80px;
        }

        @media (max-width: 768px){
            width: 50px;
            height: 12px;
            top: -30px;
        }
    }

    .slick-disabled{
        opacity: .3;
    }   

    .slick-current{
        @media (max-width: 768px){
            .c-product{
            
                z-index: 99;
                box-shadow: 0px 29px 20px -14px rgba(145, 178, 241, 0.25), 0px 5px 20px rgba(145, 178, 241, 0.25);

                border: none !important;                
            }
    
            .c-product__info-text{
                color: #EB5329;
            }
    
            .c-product__btn-buy{
                color: #0D1014;
                background-color: #C5FA2D;
            }

            .c-product__buy-click-wrap{
                display: block;
            }
        }
    }
}

/*Слайдер на главной странице "Новинки"*/
.inx-novelty-list, .inx-hits-list, .news-slider, .news-photo-slider{
    .slick-next{
        background-image: none;
        display: flex !important;
        align-items: center;
    }
    .slick-prev{
        background-image: none;
        display: flex !important;
        align-items: center;
    }
}
/*КОНЕЦ: Слайдер на главной странице "Новинки"*/

.comp-list-col{
    .slick-slide{
        margin-right: 85px;

        @media (max-width: 1024px){
            margin-right: 15px;
        }
    }


    .slick-prev{
        width: 65px;
        height: 14px;
        background-image: none;
        
        
        z-index: 55;
        left: -80px;
        right: initial;
        top: 50%;
        bottom: initial;
        
        @media (max-width: 768px){
            left: 0px;
            transform: translateY(30px)  ;
        }
        
    }

    .slick-next{
        width: 65px;
        height: 14px;
        background-image: none;
        
        top: 50%;
        
        z-index: 55;
        bottom: initial;
        right: 0px;

        @media (max-width: 768px){
            
            transform: translateY(30px);
        }
    }

    .slick-disabled{
        opacity: .3;
    }
}


.ti-m-slider{
    .slick-slide{
        
    }

    .slick-prev{
        width: 65px;
        height: 14px;
        background-image: none;
        
        
        z-index: 55;
        left: -100px;
        right: initial;
        top: initial;
        bottom: 22%;
        

        @media (max-width: 1024px){
            width: 43px;
            height: 11px;
            bottom: 24%;
            left: -70px;
        }

        @media (max-width: 768px){
            left: 22%;
            top: -30px;
        }
        
    }

    .slick-next{
        width: 65px;
        height: 14px;
        background-image: none;
        
        top: 22%;
        
        z-index: 55;
        bottom: initial;
        left: -100px;
        @media (max-width: 1024px){
            width: 43px;
            height: 11px;
            left: -70px;
            top: 22%;
        }

        @media (max-width: 768px){
            left: initial;
            bottom: initial;
            right: 22%;
            top: -30px;
        }
       
    }

    .slick-disabled{
        opacity: .3;
    }
}

.inx-adv-row{
    .slick-prev{
        width: 65px;
        height: 14px;
        background-image: none;
                
        z-index: 55;
        
        right: initial;
        
        
        top: 48%;
        //transform: translateY(50%);

        left: 50px;
    }

    .slick-next{
        width: 65px;
        height: 14px;
        background-image: none;
               
       
        z-index: 55;
        bottom: initial;
        right: initial;
        top: 50%;
        left: 150px;
        transform: translateY(-50%);
    }

    .slick-disabled{
        opacity: .3;
    }   

}
.cp-big-slider{
    .slick-prev{
        width: 58px;
        height: 14px;
        background-image: none;
        
        
        z-index: 55;
        
        right: initial;
        
        
        bottom: -3px;
        

        left: 0;
    }

    .slick-next{
        width: 58px;
        height: 14px;
        background-image: none;
                
       
        z-index: 55;
        bottom: initial;
        right: 0;
        bottom: -3px;
        left: initial;
        
    }

    .slick-disabled{
        opacity: .3;
    }  
}


.cp-small-slider{
    .slick-current{

        
        position: relative;
        z-index: 1;

        img{
            z-index: 5;
        }
        &::before{
            content: "";
            position: absolute;
            background-color: #EDF3FA;;
            width: 80%;
            height: 80%;
            border-radius: 7px;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: -1;
        }
    }


     
}

.cp-set-right-col{
    .slick-list{
        padding-bottom: 100px;

        @media (max-width: 768px){
            padding-bottom: 0px;
        }
    }

    .slick-prev{
        width: 65px;
        height: 14px;
        background-image: none;
        
        
        z-index: 55;
        left: 5px;
        right: initial;
        top: -45px;
        bottom: initial;
        

        @media (max-width: 1024px){
            top: -38px;
            left: 0px;
        }

        @media (max-width: 768px){
            width: 50px;
            height: 12px;
            top: -30px;
        }
    }

    .slick-next{
        width: 65px;
        height: 14px;
        background-image: none;
        
        top: -45px;
        left: 105px;
        z-index: 55;
        bottom: initial;
        right: initial;

        @media (max-width: 1024px){
            top: -38px;
            left: 80px;
        }

        @media (max-width: 768px){
            width: 50px;
            height: 12px;
            top: -30px;
        }
    }

    .slick-disabled{
        opacity: .3;
    }   

    .slick-current{
        @media (max-width: 768px){
            .c-product{
            
                z-index: 99;
                box-shadow: 0px 29px 20px -14px rgba(145, 178, 241, 0.25), 0px 5px 20px rgba(145, 178, 241, 0.25);
                border-radius: 11px 0px 11px 11px;
            }
    
            .c-product__info-text{
                text-decoration: underline;
            }
    
            .c-product__btn-buy{
                color: #0D1014;
                background-color: #C5FA2D;
            }

            .c-product__buy-click-wrap{
                display: block;
            }
        }
    }
}