.thank-you-container , .error-404{
    padding-top: 130px;
    padding-bottom: 130px;

    @media (max-width: 1024px){
        padding-top: 100px;
        padding-bottom: 0px;
    }

    @media (max-width: 768px){

        flex-direction: column;
        padding-top: 65px;
        .half-round{
            margin-left: -10px;
        }
    }

    .col-28p{
        @media (min-width: 1921px){
            max-width: 540px;
        }
    }


    @media (min-width: 1921px){
        .col-40p{
            max-width: 540px;
        }
    }
}