.show-all-filter-btn{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    font-family: $pt-sans;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #8E99AB;

    margin-top: -10px;
    margin-bottom: 15px;

    transition: .3s;

    &:hover{
        color: #457EAF;
    }
}

.show-all-filter-btn-wrap{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: -15px;

    @media (max-width: 768px){
        display: none;
    }
}

.filter-btn-wrap{
    border-bottom: 1px solid #8E99AB;

    @media (max-width: 1300px){
        border-bottom: none;
    }

    @media (max-width: 768px){
        display: block !important;
    }
}


.sort-btn-wrap{
    padding: 30px 0 35px;
    border-bottom: 1px solid #8E99AB;
    justify-content: space-between;

    @media (max-width: 1024px){
        padding: 20px 0 20px;
    }

    @media (max-width: 768px){
        padding: 15px 0 15px;
    }
    
}

.sort-btn-wrap_sp{
    border-top: 1px solid #8E99AB;
}

.type-sort, .type-sort_item {
    background-color: transparent;
    border: none;
    margin-left: 28px;

    &:first-of-type{
        margin-left: 10px;
    }
}
.type-sort_item {
    &:first-of-type{
        margin-left: 0px;
    }
}

.sort-group{
    color: #8E99AB;

    @media (max-width: 768px){
        display: none;
    }


}

.sort-group-mob{
    display: none;
    @media (max-width: 768px){
        display: block;
    }
}


.type-sort, .type-sort_item{
    color: #8E99AB;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    align-items: center;

    position: relative;
}

.sort-arrows{
    font-size: 8px;
    
    display: inline-flex;
    align-items: center;
    padding-top: 1px;
    position: absolute;
    right: -7px;
}

.sort-name{
    letter-spacing: 1px;
    padding-right: 7px;
}
.sort-arrow-down{
    letter-spacing: 3px;
}
.type-sort[ data-sort-state = '0'], .type-sort_item[ data-sort-state = '0']{
    color: #8E99AB;

    .sort-arrows{
        display: none;
    }
}

.type-sort[ data-sort-state = '1'], .type-sort_item[ data-sort-state = '1'] {
    color: #000;
    
    .sort-name{
        text-decoration: underline;
    }
    .sort-arrows{
        display: inline-block;
    }
    
}
.type-sort[ data-sort-state = '2'], .type-sort_item[ data-sort-state = '2']{
    color: #000;
    
    .sort-name{
        text-decoration: underline;
    }
    .sort-arrows{
        display: inline-block;
        transform: rotate(180deg);
        padding-top: 0;
        padding-bottom: 3px;
    }
    
}

.appearance__btn{
    transition: .3s;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    &:first-of-type{
        margin-right: 15px;
    }
    svg{
        transition: .3s;
    }

    &:hover{
        svg{
            rect{
                fill: #457EAF;
            }
        }
    }
}

.appearance__btn_active{
    opacity: 1;

    svg{
        rect{
            fill: #2A323E;;
        }
    }

    &:hover{
        svg{
            rect{
                fill: #2A323E;;
            }
        }    
    }
}

.hidden-filter-btn{
    display: none;
}

.favourites-title-row{
   display: flex;
    width: 100%;
   @media (max-width: 1300px){
        border-bottom: 1px solid #8E99AB;  
   }

   @media (max-width: 768px){
        flex-direction: column;

        .page-title-block{
            margin-bottom: 15px;
        }
   }
}

.search-title-row{
    display: flex;
    width: 100%;
    
 
    @media (max-width: 768px){
         flex-direction: column;
 
         .page-title-block{
             margin-bottom: 15px;
         }
    }
 }

.drop-sort{
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}
.drop-sort__current-wrap{
    display: flex;
    align-items: center;
    color: #8E99AB;
}
.drop-sort__sort-list{
    list-style: none;
    position: absolute;
    z-index: 5;
    background-color: #fff;
    top: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #8E99AB;  
    padding: 5px 0;
    display: none;
    min-width: 180px;
}

.drop-sort__current-sort{
    display: flex;
    align-items: center;
    height: 17px;
    margin-left: 6px;
}
.drop-sort__sort-item{
    padding: 5px;
    padding-left: 20px;
}

.filter-col{
    margin-right: 40px;
    width: 33.33%;
    
    min-width: 235px;
    @media (max-width: 1700px){
        flex-shrink: 2;
    }
    @media (max-width: 1580px){
        flex-shrink: 1;
    }
    @media (max-width: 1300px){
        margin-right: 20px;
    }
    @media (max-width: 992px){
        display: none;
    }
}

.f-panel{
    width: 100%;
    max-width: 366px;
    background-color: #E5EFFE;
    border-radius: 10px;
    
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .25);

    @media (max-width: 992px){
        max-width: 100%;
        border-radius: 0 0 10px 10px;
        
    }
}

.f-panel__reset-block{
    
    padding: 25px 30px;
    @media (max-width: 992px){
        padding: 8px 0px;
        margin: 0 20px;
        display: flex;
        justify-content: center;
    }
}

.f-panel__reset-block_b{
    border-bottom: 3px solid #fff;

    @media (max-width: 992px){
        border-top: 3px solid #fff;
    }
    
}

.f-panel__reset-mobile{
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
}

.f-panel__apply-mob-filter{
    background-color: #C5FA2D;
}


.f-panel__filters-list{
    padding: 40px 30px 50px;
}

.f-panel__reset-btn{
    width: 100%;
    height: 36px;
    border-radius: 25px;
    
    font-family: $pt-root;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2A323E;
    cursor: pointer;    
    background-color: transparent;

    border: 1px solid #8E99AB;

    @media (max-width: 992px){
        max-width: 320px;
        font-size: 12px;
    }
}

.f-panel__result-block{
    padding: 25px 0;
    background-color: #fff;
    margin: 0 3px;
}

.filter-page-content{
    display: block !important;
}
.filter-block__open-btn{
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-block__line{
    width: 14px;
    height: 2px;
    background-color: #2A323E;
    position: absolute;
    

    &:first-of-type{
        transform: rotate(0deg);
        transition: .3s;
    }
}

.filter-block__list-rolled{
    
    .filter-block__line:first-of-type{
        transform: rotate(90deg);
        transition: .3s;
    }
}
.filter-block__title{
    margin-left: 8px;
}

.filter-block__title-block{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter-block__list{
    list-style: none;
    padding: 5px 0;
    display: none;
}

.filter-block__list-line{
    list-style: none;
    padding: 5px 0;

    li{
        display: flex;
    }
    
}

.filter-block__input-range{
    border: 1px solid #CADCF8;
    background-color: transparent;
    width: 50%;
    outline: none;
    font-family: $pt-sans;
    font-size: 14px;
    padding: 10px 25px;
    &:first-of-type{
        border-right: transparent;
        border-radius: 5px 0 0 5px;
    }

    &:last-of-type{
        
        border-radius: 0 5px 5px 0;
    }


    &::placeholder{
        color: #8E99AB;
    }
}

.filter-block__list-item-cb{
    padding: 5px 0;
    padding-left: 30px;
}
.filter-block__show-all{
    border: none;
    background-color: transparent;
    outline: none;
    font-family: $pt-sans;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba($color: #000000, $alpha: .57);
    cursor: pointer;

}

.filter-block__show-all-clicked{
    color: rgba($color: #000000, $alpha: 1);
}

.filter-block__hidden-item{
    display: none;
}

.mobile-filter{
    display: flex;
    background-color: #E5EFFE;
    border-radius: 10px;
    padding: 7px 22px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.mob-filter-btn{
    width: 128px;
    height: 36px;
}

.mobile-filter__results{
    color: #8E99AB;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    font-weight: 500;
}

.mobile-filter-outer{
    
    z-index: 150;
    width: 100%;
    margin-bottom: 15px;

    display: none;
    @media (max-width: 992px){
        display: block;
    }
}

.mobile-filter-outer_open{
    position: absolute;
}

.f-panel__apply-mob-filter{
    background-color: #C5FA2D !important;
    font-weight: 600;
    margin-top: 7px;
    font-size: 11px;
}

.mobile-filter-panel{
    display: none;
}