.subscribe{
    
 


    background-color: #1E242E;
    
    width: 100%;
}
.subscribe__inner{
    display: flex;
    padding: 85px 0 85px 577px;

    @media (max-width: 1900px){
        padding: calc(47px + 2vw) 0 calc(47px + 2vw) calc(60vw - 563px);
    }

    @media (max-width: 1150px){
        padding: 70px 0 70px calc(60vw - 563px);
    }
    @media (max-width: 1034px){
        padding: 70px 0 70px 57px;
    }

    @media (max-width: 992px){
        padding: 60px 20px;
    }

    @media (max-width: 600px){
        flex-direction: column;
    }

    @media (min-width: 1921px){
        padding: 85px 0 85px 45vw;
    }
}
.subscribe__title{
    margin-right: 75px;

    @media (max-width: 1900px){
        margin-right: calc( 4vw - 1px);
    }
    @media (max-width: 1024px){
        margin-right: 40px;
    }
    @media (max-width: 600px){
        margin-right: 0px;
        margin-bottom: 40px;
        br{
            display: none;
        }
    }
}

.ssc-form{
    display: flex;
    align-items: flex-start;

    @media (max-width: 992px){
        flex-direction: column;   
    }

    @media (max-width: 768px){
        .half-round{
            margin-left: -10px;
        }
    }
}
.ssc-form__input-wrap{
    width: 365px;
    margin-right: 30px;
    position: relative;
    @media (max-width: 1900px){
        width: calc(9.2vw + 190px);
    }
    @media (max-width: 1024px){
        width: 280px;
    }

    @media (max-width: 992px){
        margin-right: 0px;
        margin-bottom: 20px;
    }
    @media (max-width: 600px){
        width: 100%;
    }
}
.ssc-form__input{
    width: 100%;
    font-family: $font-family;
    padding: 20px 33px;
    border: 2px solid rgba($color: #CADCF8, $alpha: .79);
    box-sizing: border-box;
    border-radius: 32.5px;
    background-color: transparent;
    color: rgba($color: #CADCF8, $alpha: 1);
    outline: none;
    &::placeholder{
        color: rgba($color: #CADCF8, $alpha: .79);
    }

    &:focus{
        border: 2px solid rgba($color: #CADCF8, $alpha: 1);
    }

    @media (max-width: 1900px){
        padding: calc(5.75px + .75vw) 33px;

        
    }
    @media (max-width: 1100px){
        padding: calc(5.75px + .75vw) 33px;
    }
}

.ssc-form__cb-wrap{
    margin-top: 15px;
    padding-left: 65px;

    @media (max-width: 1900px){
        padding-left: calc(27px + 2vw);
    }
    @media (max-width: 1150px){
        padding-left: 50px;
    }
    @media (max-width: 992px){
        padding-left: 30px;
    }
}

.ssc-form_error{
    .ssc-form__input{
        border: 2px solid #EB5329;
        color: #EB5329;

        &::placeholder{
            opacity: 1;
            color: #EB5329;
        }
    }
    
}

.ssc-form__error{
    font-weight: 500;
    font-size: 12px;
    line-height: 10px;
    color: #EB5329;
    position: absolute;

    top: -20px;
    left: 20px;
    display: none;
}