.select, .select-buy{
    position: relative;
}

.select-buy{
    width: 80px;
    height: 40px;
    
}

.select-buy[data-state="deploy"]{
    background-color: #121212;
    border-radius: 5px 5px 0 0;


    .select-buy__cur-value{
        border-bottom: 1px solid #fff;

        img{
            transform: rotate(180deg);
            margin-top: -5px;
        }
    }
    
}

.select-buy__value{
    width: 36px;
    margin-right: 12px;
    font-weight: 500;
}

.select-buy__cur-value{
    display: flex;
    align-items: center;
    padding-left: 18px;
    width: 80px;
    height: 40px;
    cursor: pointer;

    transition: .3s;

    img{
        transition: .3s;
    }
}





@keyframes select-buy-show {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }


    to{
        opacity: 1;
        transform: translateY(0px);
    }
}


.select-buy-hide{
    animation: .3s select-buy-hide forwards !important;
}

@keyframes select-buy-hide{
    from{
        opacity: 1;
        transform: translateY(0px);
    }


    to{
        opacity: 0;
        transform: translateY(-20px);
    }
}
.select__cur-value{
    
}

.select__value{
    border-bottom: 1px solid #8E99AB;
    padding-bottom: 10px;
    cursor: pointer;
}
.select__arrow{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.select-buy__option-list{
    list-style: none;
    animation: .3s select-buy-show;
}


.select__option-list{
    list-style: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    border: 1px solid #8E99AB;
    border-top-color: rgb(142, 153, 171);
    border-top-style: solid;
    border-top-width: 1px;
    border-top: none;
    border-radius: 0 0 5px 5px;

    display: none;
}

.select__option{
    padding: 5px;
    cursor: pointer;
}

.select-buy__option-list{
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.select-buy__option{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:not(:first-of-type){
        border-top: 1px solid rgba($color: #C4C4C4, $alpha: .5);
        
        
    }

    &:hover{
        background-color: #fff;
        color: #2A323E;
    }

    &:last-of-type{
        border-radius: 0 0 5px 5px;
    }
}

.select-buy__option_cur{
    display: none;
}

.ti-input-label{
    color: #457EAF;
}

.ti-product__char{

}

.select__option-list_black{
    background-color:     #0D1014;
}

.select_border{
    border: 1px solid #457EAF;
    box-sizing: border-box;
    border-radius: 6px;

    .select__value{
        border-bottom: none;
        padding: 15px 20px;
    }

    .select__option-list{
        max-height: 200px;
        overflow-y: auto;
            
    }

    .select__option{
        padding: 15px 20px;
    }

    
}

.ti-option-list{
    background-color: rgb(237,243,250);
    margin-left: -1px;
    width: calc(100% + 2px);
    border-color: #457EAF;;
}

.ti-select[data-state='deploy']{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}